<body class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>[e-spres-oh] BookReading</b></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in you lab rat</p>
      
      <div class="social-auth-links text-center">
        <%= link_to("/auth/google_oauth2", class: "btn btn-block btn-social btn-google-plus btn-flat") do %>
          <i class="fa fa-google-plus"></i> Sign in using Google+
        <% end %>
      </div><!-- /.social-auth-links -->
    </div>
  </div>
</body>
